[submodule "themes/internet-weblog"]
	path = themes/internet-weblog
	url = git@github.com:ritesh/internet-weblog.git
[submodule "public"]
	path = public
	url = git@github.com:ritesh/ritesh.github.io.git
	branch = master
